In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("C:\\Users\\Lenovo\\OneDrive\\Documents\\cardekho1.csv")
df.head()

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats,selling_price
0,Maruti Swift Dzire VDI,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0,450000
1,Skoda Rapid 1.5 TDI Ambition,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,370000
2,Honda City 2017-2020 EXi,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0,158000
3,Hyundai i20 Sportz Diesel,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0,225000
4,Maruti Swift VXI BSIII,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0,130000

In [5]:
df.isnull().sum()

name                    0
year                    0
km_driven               0
fuel                    0
seller_type             0
transmission            0
owner                   0
mileage(km/ltr/kg)    221
engine                221
max_power             215
seats                 221
selling_price           0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   km_driven           8128 non-null   int64
 3   fuel                8128 non-null   object
 4   seller_type         8128 non-null   object
 5   transmission        8128 non-null   object
 6   owner               8128 non-null   object
 7   mileage(km/ltr/kg)  7907 non-null   float64
 8   engine              7907 non-null   float64
 9   max_power           7913 non-null   object
 10  seats               7907 non-null   float64
 11  selling_price       8128 non-null   int64
dtypes: float64(3), int64(3), object(6)
memory usage: 762.1+ KB

In [11]:
df.shape

(8128, 12)

In [13]:
df.describe()

,year,km_driven,mileage(km/ltr/kg),engine,seats,selling_price
count,8128.000000,8.128000e+03,7907.000000,7907.000000,7907.000000,8.128000e+03
mean,2013.804011,6.981951e+04,19.418783,1458.625016,5.416719,6.382718e+05
std,4.044249,5.655055e+04,4.037145,503.916303,0.959588,8.062534e+05
min,1983.000000,1.000000e+00,0.000000,624.000000,2.000000,2.999900e+04
25%,2011.000000,3.500000e+04,16.780000,1197.000000,5.000000,2.549990e+05
50%,2015.000000,6.000000e+04,19.300000,1248.000000,5.000000,4.500000e+05
75%,2017.000000,9.800000e+04,22.320000,1582.000000,5.000000,6.750000e+05
max,2020.000000,2.360457e+06,42.000000,3604.000000,14.000000,1.000000e+07

In [7]:
null_precentage = df.isnull().mean()*100
print(null_precentage)

name                  0.000000
year                  0.000000
km_driven             0.000000
fuel                  0.000000
seller_type           0.000000
transmission          0.000000
owner                 0.000000
mileage(km/ltr/kg)    2.718996
engine                2.718996
max_power             2.645177
seats                 2.718996
selling_price         0.000000
dtype: float64

In [15]:
df["mileage(km/ltr/kg)"] = df["mileage(km/ltr/kg)"].fillna(df["mileage(km/ltr/kg)"].mean())

In [17]:
df["engine"] = df["engine"].fillna(df["engine"].mean())

In [19]:
df["seats"] = df["seats"].fillna(df["seats"].mode()[0])

In [23]:
df.isnull().sum()

name                    0
year                    0
km_driven               0
fuel                    0
seller_type             0
transmission            0
owner                   0
mileage(km/ltr/kg)      0
engine                  0
max_power             215
seats                   0
selling_price           0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   km_driven           8128 non-null   int64
 3   fuel                8128 non-null   object
 4   seller_type         8128 non-null   object
 5   transmission        8128 non-null   object
 6   owner               8128 non-null   object
 7   mileage(km/ltr/kg)  8128 non-null   float64
 8   engine              8128 non-null   float64
 9   max_power           7913 non-null   object
 10  seats               8128 non-null   float64
 11  selling_price       8128 non-null   int64
dtypes: float64(3), int64(3), object(6)
memory usage: 762.1+ KB

In [27]:
df["max_power"].unique()

array(['74', '103.52', '78', '90', '88.2', '81.86', '57.5', '37', '67.1',
       '68.1', '108.45', '60', '73.9', nan, '67', '82', '88.5', '46.3',
       '88.73', '64.1', '98.6', '88.8', '83.81', '83.1', '47.3', '73.8',
       '34.2', '35', '81.83', '40.3', '121.3', '138.03', '160.77',
       '117.3', '116.3', '83.14', '67.05', '168.5', '100', '120.7',
       '98.63', '175.56', '103.25', '171.5', '100.6', '174.33', '187.74',
       '170', '78.9', '88.76', '86.8', '108.495', '108.62', '93.7',
       '103.6', '98.59', '189', '67.04', '68.05', '58.2', '82.85', '81.8',
       '73', '120', '94.68', '160', '65', '155', '69.01', '126.32',
       '138.1', '83.8', '126.2', '98.96', '62.1', '86.7', '188', '214.56',
       '177', '280', '148.31', '254.79', '190', '177.46', '204', '141',
       '117.6', '241.4', '282', '150', '147.5', '108.5', '103.5', '183',
       '181.04', '157.7', '164.7', '91.1', '400', '68', '75', '85.8',
       '87.2', '53', '118', '103.2', '83', '84', '58.16', '147.94',
       '74.02', '53.3', '80', '88.7', '97.7', '121.36', '162', '140',
       '94', '100.57', '82.9', '83.11', '70', '153.86', '121', '126.3',
       '73.97', '171', '69', '99.6', '102', '105', '63', '79.4', '97.9',
       '63.1', '66.1', '110', '174.5', '53.26', '73.75', '67.06', '64.08',
       '37.5', '189.3', '158.8', '61.7', '55.2', '71.01', '73.74',
       '147.9', '71', '77', '121.4', '113.4', '47', '130', '57.6', '138',
       '52.8', '53.64', '53.5', '76.8', '82.4', '113.42', '76', '84.8',
       '0', '56.3', '218', '112', '92', '105.5', '169', '95', '72.4',
       '115', '152', '91.2', '156', '74.9', '62', '105.3', '73.94', '85',
       '118.3', '72', '147.51', '58', '64', '126.24', '76.9', '194.3',
       '99.23', '89.84', '123.7', '118.35', '99', '241', '136', '261.4',
       '104.68', '37.48', '104', '63.12', '91.7', '102.5', '177.6', '45',
       '123.37', '147.8', '184', '84.48', '68.07', '74.96', '167.6',
       '152.87', '112.2', '83.83', '197', '110.4', '104.55', '103',
       '103.3', '66', '108.6', '165', '163.7', '116.9', '94.93', '127',
       '198.5', '179.5', '120.69', '121.31', '138.08', '187.7', '80.8',
       '86.79', '93.87', '116.6', '143', '92.7', '88', '58.33', '78.8',
       '64.4', '125', '139.01', '254.8', '181', '258', '55.23', '270.9',
       '265', '157.75', '101', '186', '187.4', '224', '64.9', '148',
       '35.5', '89.75', '32.8', '91.72', '106', '98.97', '66.6', '86',
       '65.3', '98.82', '198.25', '38', '142', '132', '174.57', '178',
       '163.2', '203.2', '177.5', '175', '57', '80.84', '68.4', '167.67',
       '170.63', '52', '149.5', '48.21', ' ', '201.1', '100.5', '144',
       '194.4', '168.7', '104.5', '103.26', '116.4', '98.79', '80.9',
       '58.3', '272', '235', '167.62', '170.3', '139.46', '158', '110.5',
       '82.5', '141.1', '38.4', '197.2', '161', '194', '122.4', '134.1',
       '60.2', '134', '203', '135.1'], dtype=object)

In [29]:
df['max_power'] = pd.to_numeric(df['max_power'].str.replace(r'[^0-9.]', '', regex=True), errors='coerce')

In [33]:
df["max_power"] = df["max_power"].fillna(df["max_power"].mean())

In [35]:
df.isnull().sum()

name                  0
year                  0
km_driven             0
fuel                  0
seller_type           0
transmission          0
owner                 0
mileage(km/ltr/kg)    0
engine                0
max_power             0
seats                 0
selling_price         0
dtype: int64

In [37]:
df.drop(columns = ["name"],inplace = True)

In [39]:
df.head()

,year,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats,selling_price
0,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,450000
1,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,370000
2,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,158000
3,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,225000
4,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,130000

In [41]:
df.to_csv("C:\\Users\\Lenovo\\OneDrive\\Documents\\car_project_cleaned.csv",index=False)